---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        <i class="far fa-calendar"></i>
        {{ page.date | date: "%Y年%m月%d日" }}
      </time>
      
      <span class="post-category">
        <i class="far fa-folder"></i>
        {{ page.categories | join: ", " }}
      </span>
      
      <span class="post-author">
        <i class="far fa-user"></i>
        {{ page.author | default: site.author }}
      </span>
      
      <!-- 页面阅读量 -->
      {% include page-views.html %}
    </div>
  </header>
  
  <div class="post-content">
    {{ content }}
  </div>
  
  <!-- 访客统计 -->
  {% include visitor-counter.html %}
  
  <!-- 评论区域 -->
  {% include comments.html %}
  
  <!-- 相关文章推荐 -->
  <div class="related-posts">
    <h3><i class="fas fa-thumbtack"></i> 相关文章</h3>
    <ul>
      {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>